[Unit]
Description=Brickmaster2 Control System
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/brickmaster2
ExecStart=/usr/bin/python3 /home/pi/brickmaster2/brickmaster2.py
Restart=always

[Install]
WantedBy=multi-user.target